**.DS_Store
AOI
scan/Links/map_*
scan/Links/oxford-*
scan/Links/wsf-*
scan/Links/world-pop-*
scan/Links/darthmouth_flood_events.pdf
scan/Links/monthly-pv.png
scan/Links/ngdc-earthquake-events.pdf
plots/*
Stats/*
Maps/*
scan/template-city-scan.indd
data-sharing/*
**/Document fonts
scan/Links
other-areas