**.DS_Store
AOI
scan/Links/map_*
scan/Links/oxford-*
scan/Links/wsf-*
scan/Links/world-pop-*
scan/Links/darthmouth_flood_events*
scan/Links/monthly-pv.png
scan/Links/ngdc-earthquake*
scan/Links/ncei-cyclones*
scan/Links/nasa-fwi*
plots/*
Stats/*
Maps/*
scan/template-city-scan.indd
data-sharing/*
**/Document fonts
other-areas